body {
    background-color: #B2D7F0;
  }

  .about_me {
    padding: 1em;
    background-color: #696969;
    color: white;
    font-weight: 200;
    border-radius: 2em;
    margin: 1em;
  }

  .facts {
    padding: 2em;
    background-color: #696969;
    color: white;
    font-weight: 200;
    border-radius: 3em;
    margin: 2em;
  }
